.kaufman__triangle {
  background-image: url("../../../images/kaufman/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  right: -210px;
  z-index: -1;
  height: 877px;
  width: 877px;
}