.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", sans-serif;
  color: #000000;
}

/* HEADER */

.header {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  margin: 0;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 765px;
  max-height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.link::after {
  content: " →";
}

.link:hover {
  color: black;
}

/* DECRIPTION */

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main_text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

/* DIGITS (TABLE 1) */

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  margin: 0;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: 20px 0 0;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 25%;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

/* FEYNMAN */

.feynman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  margin: 100px 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* KAUFMAN (TABLE 2) */

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;

}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
  position: absolute;
  right: -210px;
  z-index: -1;
  height: 877px;
  width: 877px;
}

.section-title_theme_dark {
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: 0 0 90px 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/* FOOTER */

.footer {
  color: white;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  box-sizing: border-box;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  height: 35px;
  z-index: 10;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
  list-style-type: none;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__column-link:hover {
  color: #2f80ed;
}
